#headerlist{
	margin-top: 0px;
	list-style-type: none; 
	padding:0;
	overflow: hidden;
	background:#333;
	margin-bottom: 0px;
}
#headerlist-ele{
	float:right;
}
#headerlist-text{
	display:block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}
#headerlist-text:hover{
	background-color: #111;
}
#header-info{
	font-weight:bold;
}
#main-footer{
	text-align: center;
}
h3{
	color:#cc4b63;
	font-weight: bold;
	font-family: "Arial Black", sans-serif;
}
